<%- include('../main')%>
<%- include('../partials/navbar')%>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/add" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control border-dark" name="title" placeholder="Ingresa el título" autofocus required>
                        </div>
                        <div class="form-group mt-2">
                            <input type="url" class="form-control border-dark" name="url" placeholder="Ingresa tu URL a guardar" required>
                        </div>
                        <div class="form-group mt-2">
                            <textarea class="form-control border-dark" name="description" rows="12" placeholder="Ingresa la descripción del sitio web" required></textarea>
                        </div> 
                        <div class="form-group mt-2">
                            <button class="btn btn-primary mx-auto btn-block w-100">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>